*, *:before, *:after {
    box-sizing: border-box;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #393939;
    color: #f4f4f4;
}

header {
    width: 100%;
    color: #f4f4f4;
    background-color: #161616;
}

h1 {
    margin: 0;
    padding: 16px 0 16px 0;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: medium;
    font-weight: normal;
}

#monumentImage {
    display: block;
    width: fit-content;
    margin: auto;
    padding: 24px;
    max-width: 80%;
}

#monumentLink {
    display: block;
    width: fit-content;
    margin: auto;
    padding: 12px;
    border-radius: 2px;
    color: #f4f4f4;
    background-color: #161616;
}

.hidden {
    display: none;
}