*, *:before, *:after {
    box-sizing: border-box;
}

* {
    font-family: 'cory', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'cory';
    src: url('./font/Raleway/Raleway-Light.ttf');
}

body {
    margin: 0;
    background-color: #393939;
    color: #f4f4f4;
}

header {
    width: 100%;
    color: #f4f4f4;
    background-color: #161616;
}

h1 {
    margin: 0;
    padding: 16px 0 16px 0;
    text-align: center;
    font-weight: normal;
}

h3 {
    margin: auto;
    padding: 0 0 16px 0;
    text-align: center;
    width: 500px;
    max-width: 80%;
}

.step {
    display: block;
    width: 75%;
    max-width: 400px;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}

.step:last-child {
    margin-bottom: 0;
}

#copyUrlButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    height: 40px;
    margin: auto;
    margin-top: 12px;
    color: #f4f4f4;
    background-color: #161616;
    border-radius: 2px;
    border: none;
    padding-left: 14px;
}

#copyUrlButton svg {
    height: 18px;
}

#copyUrlButton span {
    padding-right: 6px;
}

#linksContainer {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
}

.linkContainer {
    background-color: #161616;
    width: 40%;
    padding: 12px;
    border-radius: 2px;
}
.monumentLink {
    display: block;
    width: fit-content;
    margin: auto;
    font-size: 14px;
    color: #f4f4f4;
    text-align: center;
    text-decoration: none;
}

#monumentImage {
    display: block;
    width: 500px;
    margin: auto;
    padding: 24px;
    padding-top: 0;
    max-width: 80%;
}
